.side-bar-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 2px 5px 5px;
  border-radius: 6px;
  color: var(--font-color-black);
}

.side-bar-item:hover {
  background-color: var(--icons-background);
}

.title {
  font-size: 15px;
  padding: 3px 0 3px 5px;
}

.tasks-count {
  font-size: 12px;
  color: var(--icons-color);
  padding: 0 2px 0 0;
}
