.icon-background {
  padding: 1px;
  min-height: 21px;
  min-width: 21px;
  border-radius: 3px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  color: var(--icons-color);
}

.blink {
  color: var(--icons-color);
  &:hover {
    color: black;
  }
}
