.task-form-body {
  display: flex;
  flex-flow: column;
  gap: 10px;
  padding: 12px;
  border: 1px solid var(--tasks-delimiter-color);
  border-radius: 10px;
}

.title {
  font-size: 14px;
}

.description {
  resize: none;
  overflow: hidden;

  font-size: 13px;
  max-height: 150px;
}

.transparent {
  background-color: transparent;
}

.labels-list {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.label-item {
  display: inline-block;
  padding: 5px;
  background-color: var(--accent-red-color);
  border-radius: 4px;
  color: white;
}

.footer {
  padding: 10px 0 0 0;
}
